.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:15px 60px;
    box-shadow: 0 1px 3px -2px black;
    margin-bottom: 1px;
}

.logo{
    width:200px;
}
.profile-icon{
    width:70px;
}

@media (max-width:800px) {
    .navbar{
        padding:15px 30px;
    }
    .logo{
        width:150px;
    }
    .profile-icon{
        width:50px;
    }
    
}